[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prabagaran
[access "refs/for/refs/*"]
	read = group user/prabagaran
	push = group user/prabagaran
	label-Code-Review = -2..+2 group user/prabagaran
	label-Verified = -1..+1 group user/prabagaran
	rebase = group user/prabagaran
	removeReviewer = group user/prabagaran
	submit = group user/prabagaran
[access "refs/heads/*"]
	read = group user/prabagaran
	create = group user/prabagaran
	push = +force group user/prabagaran
	pushMerge = group user/prabagaran
[access "refs/tags/*"]
	push = +force group user/prabagaran
	pushTag = group user/prabagaran
	pushSignedTag = group user/prabagaran
